certifi
cffi
chardet
Django
django-cors-headers
django-modeladmin-reorder
djangorestframework
idna
Pillow
psycopg2
pycparser
pytz
requests
six
urllib
virtualenv
virtualenvwrapper-win
xlrd
